<ul>
  <li>
    <%= @flower.flower_name %>, <%= @flower.color %>
  </li>
</ul>

<%= link_to 'Edit Flower', edit_flower_path(@flower) %> |
<%= link_to 'Delete Flower', flower_path(@flower), method: :delete %>